:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --logo-header-part-color: #000000;
  --logo-footer-part-color: #ffffff;
  --contacts-header-color: #757575;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);

  --banner-btn-hover-color: #188ce8;
  --primery-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --icon-bg-color: #f5f4fa;
  --icon-fill-color: #afb1b8;
  --footer-icon-bg-color: rgba(255, 255, 255, 0.1);
  --modal-bg-overlay-color: rgba(0, 0, 0, 0.2);
  --work-title-bg-color: rgba(47, 48, 58, 0.8);
  --thumb-bg-color: rgba(33, 150, 243, 0.9);

  --border-header-color: #ececec;
  --card-border-color: #eeeeee;
  --modal-close-border-color: rgba(0, 0, 0, 0.1);
  --form-input-border: rgba(33, 33, 33, 0.2);
  --form-input-footer-border: rgba(255, 255, 255, 0.3);

  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --filters-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --card-projects-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --banner-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  --card-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Общие свойства */

/* страница */
body {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;

  padding-top: 80px;

  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);
}

/* все img-файлы */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* маркеры в списках */
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

/* все контейнеры */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* шапка */
.page-header {
  border-bottom: 1px solid var(--border-header-color);

  min-height: 80px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  background-color: var(--primery-bg-color);
}

.container.header {
  display: flex;
  align-items: center;
}

.header-links {
  display: flex;
  align-items: center;
}

.page-header .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* логотип в шапке */
.logo {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--accent-color);
}

.page-header .logo-part {
  color: var(--logo-header-part-color);
}

/* навигация сайта */
.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primery-text-color);

  transition: color 250ms var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color);
}

.site-nav .link.current {
  position: relative;

  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: inline-block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

/* контакты в шапке */
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item:not(:last-child) {
  margin-right: 30px;
}

.contacts .item {
  color: var(--contacts-header-color);
}

.contacts .link {
  display: flex;

  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--contacts-header-color);

  transition: color 250ms var(--timing-function);
}

.contacts .link:hover,
.contacts .link:focus,
.contacts .link:active {
  color: var(--accent-color);
}

.contacts .icon {
  margin-right: 10px;

  fill: currentColor;

  transition: fill 250ms var(--timing-function);
}

.contacts .icon:hover,
.contacts .icon:focus {
  fill: var(--accent-color);
}

/* баннер */
.banner {
  max-width: 1600px;
  height: 600px;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: var(--second-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-title {
  margin-top: 0;
  margin-bottom: var(--card-gap);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

/* кнопка в баннере */
.buttons {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  text-align: center;

  border-radius: 4px;

  cursor: pointer;
}

.buttons.banner-button {
  padding: 10px 32px;
  min-width: 200px;

  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: transparent;
  box-shadow: var(--banner-button-shadow);

  transition: background-color 250ms var(--timing-function);
}

.buttons.banner-button:hover,
.buttons.banner-button:focus {
  background-color: var(--banner-btn-hover-color);
}

/* все секции, кроме баннера */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* все заголовки секций */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primery-text-color);
}

/* особенности */
.features {
  display: flex;
}

.features .item {
  width: calc((100% - 90px) / 4);
}

.features .item:not(:last-child) {
  margin-right: var(--card-gap);
}

.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--icon-bg-color);
  border-radius: 4px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primery-text-color);
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  line-height: 1.7;

  color: var(--title-text-color);
}

/* чем мы занимаемся */
.section.working {
  padding-top: 0;
}

.img-work {
  display: flex;
}

.img-work .item {
  position: relative;

  width: calc((100% - 60px) / 3);
}

.img-work .item:not(:last-child) {
  margin-right: var(--card-gap);
}

.work-title {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  background-color: var(--work-title-bg-color);
}

.title {
  margin: 0;

  font-size: 14px;
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-text-color);
}

/* наша команда */
.section.team {
  background-color: var(--icon-bg-color);
}

.dream-team {
  display: flex;
}

.team-member {
  width: calc((100% - 90px) / 4);

  background-color: var(--primery-bg-color);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-member:not(:last-child) {
  margin-right: var(--card-gap);
}

.member-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--primery-text-color);
}

.member-position {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--title-text-color);
}

.member-pages {
  display: flex;
  justify-content: center;
}

.member-pages .page:not(:last-child) {
  margin-right: 10px;
}

.member-pages .page-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 44px;
  height: 44px;

  color: var(--icon-fill-color);

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.member-pages .page-icon:hover,
.member-pages .page-icon:focus {
  background-color: var(--accent-color);
  color: var(--primery-bg-color);
}

.page-icon .icon {
  fill: currentColor;
}

/* постоянные клиенты */
.clients {
  display: flex;
}

.clients .group:not(:last-child) {
  margin-right: 30px;
}

.clients .group-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  color: var(--icon-fill-color);
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.clients .group-icon:hover,
.clients .group-icon:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.group .icon {
  fill: currentColor;
}

/* подвал */
.footer {
  padding: 60px 0;

  background-color: var(--second-bg-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-address .logo {
  display: inline-block;

  margin-right: 0;
  margin-bottom: 20px;
}

.footer-address .logo-part {
  color: var(--logo-footer-part-color);
}

.footer-address .address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;

  color: var(--white-text-color);
}

.footer-address .address-text {
  margin-top: 0;
  margin-bottom: 9px;
}

/* контакты в подвале */
.footer-address .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address .link {
  color: var(--contacts-footer-color);
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.footer-address .link:hover,
.footer-address .link:focus,
.footer-address .link:active {
  color: var(--accent-color);
}

.footer .social {
  margin: 0;
  margin-right: 93px;
}

.social .title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;

  color: var(--white-text-color);
}

.social-pages {
  display: flex;
}

.social-pages .page:not(:last-child) {
  margin-right: 10px;
}

.social-pages .page-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  color: var(--primery-bg-color);
  background-color: var(--footer-icon-bg-color);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);
}

.social-pages .page-icon:hover,
.social-pages .page-icon:focus {
  background-color: var(--accent-color);
}

.page-icon .icon {
  fill: currentColor;
}

.footer-form {
  margin: 0;
  margin-left: auto;
}

.footer-form .title {
  margin-bottom: 20px;

  text-align: left;
}

.footer-form .form {
  display: flex;
}

.footer-form .form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  outline: none;

  border: 1px solid var(--form-input-footer-border);
  border-radius: 4px;
  filter: drop-shadow(var(--banner-button-shadow));

  background-color: var(--second-bg-color);
  color: var(--white-text-color);
}

.footer-form .form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.03em;

  color: var(--contacts-footer-color);
}

.footer-form .send-icon {
  margin-left: 10px;
}

/* стили для страницы Портфолио */
.btns-filters {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.btns-filters .item:not(:last-child) {
  margin-right: 8px;
}

.buttons.filter {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
  background-color: var(--icon-bg-color);
  border: transparent;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.buttons.filter:hover,
.buttons.filter:focus,
.buttons.filter:active {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--filters-shadow);
}

/* projects cards */
.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: calc((100% - 60px) / 3);

  background-color: var(--primery-bg-color);
}

.project:not(:nth-child(3n)) {
  margin-right: var(--card-gap);
}

.project:not(:nth-last-child(-n + 3)) {
  margin-bottom: var(--card-gap);
}

.projects .link {
  display: block;

  text-decoration: none;

  transition: box-shadow 250ms var(--timing-function);
}

.projects .link:hover,
.projects .link:focus {
  box-shadow: var(--card-projects-shadow);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--thumb-bg-color);

  transition: transform 250ms var(--timing-function);

  transform: translateY(100%);
}

.projects .link:hover .project-description,
.projects .link:focus .project-description {
  transform: translateY(0);
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;

  width: 322px;
  height: 168px;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* line height: 0.64; */
  /* line-height ставила 0.64 но почему то не работает */

  color: var(--white-text-color);
}

.project-content {
  padding: 20px 24px;

  border-top: transparent;
  border-bottom: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}

.project-name {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primery-text-color);
}

.project-type {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;

  color: var(--title-text-color);
}

/* модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--modal-bg-overlay-color);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  min-width: 528px;

  background-color: var(--primery-bg-color);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.close-btn {
  position: fixed;
  top: 8px;
  right: 8px;

  display: inline-block;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-color: var(--primery-bg-color);
  border: 1px solid var(--modal-close-border-color);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms var(--timing-function);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
  position: relative;
}

.modal-title {
  margin: 0;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 0.9;
  text-align: center;

  color: var(--primery-text-color);
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.modal-form .form-label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 0.9;
  letter-spacing: 0.01em;

  color: var(--title-text-color);
}

.form-field .form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 42px;

  border: 1px solid var(--form-input-border);
  border-radius: 4px;
}

.form-field:focus-within .form-input {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-field .form-icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
}

.form-field:focus-within .form-icon {
  fill: var(--accent-color);
}

.comment {
  resize: none;

  width: 448px;
  height: 120px;

  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid var(--form-input-border);
  border-radius: 4px;
}

.form-field:focus-within .comment {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-field .form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.9;
  letter-spacing: 0.01em;

  color: var(--placeholder-text-color);
}

.policy-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  color: var(--white-text-color);
}

.policy-field .policy {
  font-weight: 400;
  line-height: 0.6;

  color: var(--title-text-color);
}

.policy-field .checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.policy-field .icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--primery-text-color);
  border-radius: 2px;
}

.checkbox:checked + .icon,
.checkbox:focus + .icon {
  background-color: var(--accent-color);
  border-color: transparent;
  background-image: url(../images/check.svg);
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.policy-field .contract-link {
  color: var(--accent-color);
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  height: 50px;
  padding: 10px;

  font-weight: 700;
  line-height: 0.53;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: transparent;
  box-shadow: var(--banner-button-shadow);
}

.modal-form .submit-btn {
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms var(--timing-function);
}

.modal-form .submit-btn:hover,
.modal-form .submit-btn:focus {
  background-color: var(--banner-btn-hover-color);
}
